*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container{
  max-width: 1600px;
  margin: 0 auto;
}

#canvas {
  width: 500px;
  height: 300px;
}


.container {
  display: none;
}

.overlay {
  background: red;
  position: fixed;
  inset: 0;
  transform: translateX(-100%);
  transition: 500ms ease-in;
}

.overlay.active {
  animation: fade 1500ms ease forwards;
}

@keyframes fade {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}