*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Roboto', sans-serif;
	--primary-color: #20b1ea;
	--black-color: #3a3939;
	--gray-color: #666;
	--white-text: #fafafa;
}

/* Global */

.html-bg,
.css-bg,
.js-bg,
.vue-bg,
.bootstrap-bg,
.tailwind-bg,
.api-bg,
.nuxt-bg,
.regular-bg{
	color: #fff;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: .9rem;
	margin-bottom: 3px;
	display: inline-block;
}	

.html-bg{
	
	background: #f16529;
}

.css-bg{
	background: #33a9dc;
}

.js-bg{
	color: #000;
	background: #f0db4f;
}

.vue-bg{
	background: #41b883;
}

.bootstrap-bg{
	background: #5b4282;
}

.tailwind-bg{
	background: #15b7c4;
}

.api-bg{
	background: #111b23;
}

.nuxt-bg{
	background: #2e475b;
}

.regular-bg{
	background: #fff;
	color: var(--gray-color);
	border: solid 1px var(--gray-color);
}

.overflow-x-hidden{
	overflow-x: hidden;
}

.primary-bg{
	background: var(--primary-color);
	color: var(--white-text);
	border: solid 1px var(--primary-color);
}

.primary-bg:hover{
	background: #1995c6;
}

.primary-bg a{
	color: var(--white-text);
}

.primary-text{
	color: var(--primary-color);
}

.secondary-bg{
	border: solid 1px var(--primary-color);
	color: var(--primary-color);
	background: #fff
}

.secondary-bg:hover{
	color: var(--white-text);
	background: var(--primary-color);
}

.head-text{
	opacity: 0;
	transition: opacity 1000ms ease-in;
}

.head-text.fade{
	opacity: 1;
}

.sub-heading,
.banner-img{
	transition: opacity 2000ms ease-in;
	opacity: 0;
}

.sub-heading.fade,
.banner-img.fade{
	opacity: 1;
}

section, footer{
	padding: 7rem 30px;
}

header nav, section .wrapper, footer .wrapper{
	max-width: 1440px;
	margin: auto;
}

h1{
	font-size: 3.5rem;
	font-weight: 300;
}

h2,h3,h4,h5{
	font-weight: 400 !important;
}

h2{
	margin: 2rem 0 5rem 0;
	font-size: 2rem;
}

a{
	text-decoration: none;
}

p{
	color: var(--gray-color);
	line-height: 25px;
	font-size: .9rem;
}

button{
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	transition: all 200ms ease-in-out;
}

button:hover{
	background: #cacaca;
}

.nav-burger{
	display: none;
}

.flex{
	display: flex;
	justify-content: space-between;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	transition: all 200ms ease-in;
}

.overlay.active{
	pointer-events: all;
	background: rgba(0,0,0,.5);
}

/* Header */

header{
	padding: 5px 30px;
	position: fixed;
	background: var(--white-text);
	width: 100%;
	box-shadow: 0 4px 4px 0px rgba(0,0,0,.05),
				0 1px 1px 0px rgba(0,0,0,.1);
	z-index: 2;
}

header nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}	

header nav .logo{
	display: flex;
	align-items: center;
}

header nav .logo img{
	width: 40px;
	cursor: pointer;
}

header nav ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav ul li{
	list-style: none;
	margin: 0 20px;
	cursor: pointer;
	font-weight: 400;
	font-size: .9rem;
}

header nav ul a{
	color: #000;
}

header nav ul a:hover{
	color: var(--primary-color);
}

/* Banner */

.banner{
	padding: 0rem 30px;
	height: 100vh;	
}

.banner .wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.banner .wrapper .banner-text h1{
	color: var(--black-color);
}

.banner .wrapper .banner-text p{
	margin: 0px 0 15px 0;
	font-weight: bold;
}

.banner .wrapper .banner-text .sub-heading .primary-bg{
	margin-right: 5px;
}

.banner .wrapper .banner-text,
.banner .wrapper .banner-img{
	flex: 1;
}

.banner .wrapper .banner-img{
	position: relative;
}

.banner .wrapper .banner-img img{
	width: 100%;
}

.banner .wrapper .banner-img::after{
	content: '';
	background: #e2a972;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 67%;
	left: 35.5%;
	border-radius: 50%;
	box-shadow: 8px 5px 0 0 #f2caa1,
				-8px 5px 0 0 #f2caa1;
	z-index: -1;
	animation: coffeeAnim 2500ms infinite;				
}

/* About */

.about .wrapper .upper{
	display: flex;
	justify-content: space-between;
	margin: 0 auto 5rem auto;
}

.about .wrapper .upper .about-img{
	width: 40%;
}

.about .wrapper .upper .about-img img{
	width: 100%;
}

.about .wrapper .upper .about-info{
	width: 50%;
}

.about .wrapper .upper .about-info .text{
	margin-bottom: 2rem;
	text-align: justify;
}

.about .wrapper .upper .about-info .text h4{
	margin-bottom: .5rem;
}

.about .wrapper .lower h3{
	margin-bottom: 2rem;
}

.about .wrapper .lower .text{
	margin-bottom: 1rem;
	width: 50%;
}

.about .wrapper .lower .text p{
	margin-bottom: 1rem;
	text-align: justify;
}

.about .wrapper .lower .image{
	width: 40%;
}

.about .wrapper .lower .image svg{
	width: 100%;
}

/* Tools */

.tools .wrapper .tools-grid{
	display: flex;
	justify-content: center;
	padding: 5rem 0;
	flex-wrap: wrap;
	overflow-y: hidden;
}

.tools .wrapper .tools-grid .box{
	padding: 2rem;
	box-shadow: 0 4px 4px 0px rgba(0,0,0,.1),
				0 1px 1px 0px rgba(0,0,0,.2);
	margin: 1rem;			
}

.tools .wrapper .tools-grid .box h4{
	font-size: 1.2rem;
}

.tools .wrapper .tools-grid .box .tools{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem 0;
}

.tools .wrapper .tools-grid .box .tools .icon{
	position: relative;
}

.tools .wrapper .tools-grid .box .tools .icon span{
	position: absolute;
	left: 50%;
	top: -20px;
	transform: translateX(-50%);
	background: var(--black-color);
	color: var(--white-text);
	padding: 5px 8px;
	border-radius: 5px;
	display: none;
}

.tools .wrapper .tools-grid .box .tools .icon span::after{
	content: '';
	border: solid 10px transparent;
	border-top-color: var(--black-color);
	position: absolute;
	bottom: -18px;
	left: 50%;
	transform: translateX(-50%);
}

.tools .wrapper .tools-grid .box .tools .icon:hover span{
	display: block;
}

.tools .wrapper .tools-grid .box .tools .icon img{
	cursor: pointer;
	width: 80px;
	transition: 200ms ease-in;
	margin: .5rem;
	padding: .5rem;
}

/* Works */

.works{
	background: #f7f7f7;
}

.works .wrapper .work-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-gap: 20px;
	margin: 0 2rem 5rem 2rem;
}

.works .wrapper .project-display{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 250ms ease-in;
	width: 80%;
}

.works .wrapper .project-display.active{
	transform: translate(-50%, -50%) scale(1);
	z-index: 5;
}

.works .wrapper .project-display img{
	width: 100%;
}

.works .wrapper .work-grid .work-box{
	display: flex;
	padding: 1rem;
	background: #fff;
}

.works .wrapper .work-grid .work-box .img{
	margin-right: 1rem;
	width: 50%;
	position: relative;
}

.works .wrapper .work-grid .work-box .img img{
	width: 100%;
	height: 100%;
}

.works .wrapper .work-grid .work-box .img:hover .expand{
	transform: translate(-50%, -50%) scale(1);
}

.works .wrapper .work-grid .work-box .img:hover .img-overlay{
	opacity: 1;
}

.works .wrapper .work-grid .work-box .img .expand{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 25px;
	height: 25px;
	cursor: pointer;
	z-index: 2;
	transition: 250ms ease-in;
}

.works .wrapper .work-grid .work-box .img .img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	opacity: 0;
	transition: 250ms ease-in;
}

.works .wrapper .work-grid .work-box .info{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.works .wrapper .work-grid .work-box .info .name{
	margin-bottom: .5rem;
	font-size: 1.2rem;
}

.works .wrapper .work-grid .work-box .info p{
	font-size: .9rem;
	line-height: 20px;
	text-align: justify;
}

.works .wrapper .work-grid .work-box .info .description{
	margin: 10px 0;
}

.works .wrapper .work-grid .work-box .info .language{
	display: flex;
	margin: .25rem 0 1rem 0;
}

.works .wrapper .work-grid .work-box .info .language p{
	color: var(--black-color);
	font-weight: 500;
	font-size: .9rem;
	margin-right: 5px;
}

.works .wrapper .work-grid .work-box .buttons button{
	padding: 5px 10px;
	font-size: .9rem;
}

.works .wrapper .load-btn{
	text-align: center;
	pointer-events: none;
}

/* Contact */

.contact .wrapper .flex{
	justify-content: center;
}

.contact .wrapper .flex .contact-list ul li{
	list-style: none;
	font-weight: 300;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.contact .wrapper .flex .contact-list ul li img{
	width: 25px;
	margin-right: 10px;
}

.contact .wrapper .flex .contact-list,
.contact .wrapper .flex form{
	width: 50%;
}

.contact .wrapper .flex form{
	display: flex;
	flex-direction: column;
}

.contact .wrapper .flex form .input{
	display: flex;
	flex-direction: column;
	position: relative;
}

.contact .wrapper .flex form .input label{
	position: absolute;
	top: 10px;
	left: 10px;
	color: var(--gray-color);
	pointer-events: none;
	transition: 200ms ease-in;
}

.contact .wrapper .flex form .input label.active{
	transform: translateY(-105%);
	color: var(--primary-color);
	font-size: .8rem;
	background: #fff;
}

.contact .wrapper .flex form .input input.active,
.contact .wrapper .flex form .input textarea.active{
	border: solid 2px var(--primary-color);
}

.contact .wrapper .flex form .input input,
.contact .wrapper .flex form .input textarea{
	font-family: inherit;
	padding: 10px;
	font-size: 1.1rem;
	border: solid 1px var(--gray-color);
	border-radius: 5px;
	margin-bottom: 15px;
	outline: none;
}

.contact .wrapper .flex form textarea{
	min-height: 150px;
	resize: vertical;
}

.contact .wrapper .flex form input[type="submit"]{
	display: flex;
	align-self: flex-start;
	cursor: pointer;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
}

/* Footer */

footer{
	background: #2f2f2f;
	color: var(--white-text); 
	padding-top: 3rem;
}

footer .wrapper{
	text-align: center;
}

footer .wrapper h5{
	letter-spacing: 3px;
	font-size: 1.1rem;
	font-weight: 400;
}

footer .wrapper .social-icons{
	margin: 1rem 0;
}

footer .wrapper .social-icons img{
	margin: 0 10px;
	cursor: pointer;
	transition: 250ms ease-in;
}

footer .wrapper .social-icons img:hover{
	transform: translateY(-5px);
}

/* Media Queries */

@media (max-width: 950px){

	.nav-burger{
		display: block;
		cursor: pointer;
		z-index: 2;
	}

	.nav-burger .line{
		transition: 250ms ease-in;
	}

	.nav-list{
		position: fixed;
		right: 0;
		top: 50px;
		left: 0;
		transition: 200ms ease-in;
		background: #2d2c2c;
		flex-direction: column;
		justify-content: flex-start;
		padding: 2rem 0px;
		display: none;
	}

	.nav-list.active{
		display: flex;
	}

	.nav-list a{
		padding: 1rem 0;		
		color: var(--white-text);
		width: 100%;
	}

	.nav-list a:hover{
		background: var(--primary-color);		
	}

	.nav-list a:hover{
		color: var(--white-text);
	}

	.banner .wrapper .banner-img{
		display: none;
	}
}

@media (max-width: 768px){

	h1{
		font-size: 2.5rem;
	}

	h2{
		font-size: 1.25rem;
	}

	section, footer{
		padding: 2rem 15px;
	}

	header{
		padding-left: 15px;
		padding-right: 15px;
	}

	.about .wrapper .upper,
	.contact .wrapper .flex,
	.about .wrapper .lower .flex{
		flex-direction: column;
		align-items: center;
	}

	.about .wrapper .upper .about-img,
	.contact .wrapper .flex .contact-list,
	.about .wrapper .lower .text{
		margin-bottom: 2rem;
	}

	.about .wrapper .upper .about-img,
	.about .wrapper .upper .about-info,
	.contact .wrapper .flex .contact-list,
	.contact .wrapper .flex form,
	.about .wrapper .lower .text,
	.about .wrapper .lower .image{
		width: 80%;
	}

	.skills .wrapper .flex{
		flex-direction: column;
	}
}

@media (max-width: 568px){

	h1{
		font-size: 1.5rem;
	}

	h2{
		font-size: 1rem;
		margin-bottom: 2rem;
	}

	h5{
		font-size: .9rem !important;
	}

	button{
		font-size: .7rem;
		padding: 8px 13px;
	}

	section, footer{
		padding: 1rem 15px;
	}

	.banner .wrapper .banner-text{
		text-align: center;
	}

	.about .wrapper .lower .image{
		display: none;
	}

	.about .wrapper .upper .about-img,
	.about .wrapper .upper .about-info,
	.contact .wrapper .flex .contact-list,
	.contact .wrapper .flex form,
	.about .wrapper .lower .text,
	.about .wrapper .lower .image{
		width: 100%;
	}

	.works .wrapper .work-grid{
		margin: 0 0rem 5rem 0rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	.works .wrapper .work-grid .work-box{
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.works .wrapper .work-grid .work-box .img,
	.works .wrapper .work-grid .work-box .info{
		width: 100%;
	}

	.works .wrapper .work-grid .work-box .img{
		margin-bottom: 2rem;
		margin-right: 0;
	}

	.works .wrapper .project-display{
		width: 95%;
	}

	footer{
		padding-bottom: 3rem;
	}
}

/* Animations */

@keyframes coffeeAnim{
	from{
		top: 67%;
		opacity: 1;
	}
	to{
		top: 52%;
		opacity: 0;
	}
}

#solid-circle,
#solid-square-one,
#solid-square-two{
	fill: #1995C6;
	cursor: pointer;
	transition: 500ms ease-in;
	animation: 1500ms animGradient alternate infinite;
}

#solid-square-one{
	animation-delay: 1000ms;
}

#solid-square-two{
	animation-delay: 2000ms;
}

#line-square-one,
#line-square-two,
#line-circle{
	animation: animRotate 8000ms infinite alternate;
	transition: 500ms ease-in-out;
}

#line-square-two{
	animation-delay: 1000ms;
}

#line-circle{
	animation-delay: 2000ms;
}

svg:hover #left-eye{
	transform: translateX(-10px);
}

svg:hover #right-eye{
	transform: translateX(-10px);
}

#left-eye,
#right-eye{
	transition: 500ms ease-in-out;
}

@keyframes animGradient{
	0%{
		fill: #1995C6;
	}
	50%{
		fill: #1965C6;
	}
	100%{
		fill: #193CC6
	}
}

@keyframes animRotate{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}
