@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

body {
  font-family: 'Patrick Hand SC', cursive;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 25px;
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md;
  }

  .btn-black {
    @apply bg-gray-700 hover:bg-gray-800 text-white py-2 px-4 rounded-md;
  }
}

.icon {
  animation: float 2s ease-in infinite alternate;

}

#icon-2 {
  animation-delay: 1500ms;
}

#icon-3 {
  animation-delay: 2000ms;
}

#icon-4 {
  animation-delay: 500ms;
}

#icon-5 {
  animation-delay: 1000ms;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}