@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 25px;
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md;
  }

  .btn-black {
    @apply bg-gray-700 hover:bg-gray-800 text-white py-2 px-4 rounded-md;
  }
}